.container{
  padding-top: 5%;
  padding-left: 25%;
}


.grad , .jumbotron{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/07/15/16/999448542.jpg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);
}

h3,h4,label{
  color:white;
}

.buttonik{
  float: left;
margin-top: 30px;
}
