
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
      <h3>Create or Update Club</h3>
      <div class="alert alert-warning" *ngIf='invalidCreating'>{{notification}}</div>
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">


      <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
              <div *ngIf="!!f.name.errors.required">Name name is required</div>
              <div *ngIf="!!f.name.errors.minlength">Name must be at least 6 characters</div>
              <div *ngIf="!!f.name.errors.maxlength">Name could have max 15 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>surname</label>
          <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
          <div *ngIf="submitted && !!f.surname.errors" class="invalid-feedback">
              <div *ngIf="!!f.surname.errors.required">Surname name is required</div>
              <div *ngIf="!!f.surname.errors.minlength">Surname must be at least 6 characters</div>
              <div *ngIf="!!f.surname.errors.maxlength">Surname could  have max 15 characters</div>

          </div>
      </div>
      <div class="form-group">
          <label>dateBirth</label>
          <input type="date" formControlName="dateBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateBirth.errors }"/>
          <div *ngIf="submitted && !!f.dateBirth.errors" class="invalid-feedback">
              <div *ngIf="!!f.dateBirth.errors.required">dateBirth name is required</div>
              <!-- <div *ngIf="!!f.dateBirth.errors.minlength">Coach must be at least 6 characters</div> -->
          </div>
      </div>
      <div class="form-group">
          <label>Matket Value</label>
          <input type="number" formControlName="marketValue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }"/>
          <div *ngIf="submitted && !!f.marketValue.errors" class="invalid-feedback">
              <div *ngIf="!!f.marketValue.errors.required">Budget name is required</div>
              <div *ngIf="!!f.marketValue.errors.min">Budget must be higher than 0</div>
              <div *ngIf="!!f.marketValue.errors.max">Budget must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Active</label>
          <select  formControlName="active" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }">
              <option value="" disabled>Choose activity</option>
              <option  [ngValue]="true">True</option>
              <option  [ngValue]="false">False</option>
            </select>
          <div *ngIf="submitted && !!f.marketValue.errors" class="invalid-feedback">
              <div *ngIf="!!f.active.errors.required">Budget name is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>Club</label>
          <select formControlName="club_id" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }" >
              <option value="" disabled>Choose a club</option>
              <option  *ngFor="let club of clubs" [ngValue]="club.id">
                {{ club.name }}
              </option>
            </select>
          <div *ngIf="submitted && !!f.marketValue.errors" class="invalid-feedback">
              <div *ngIf="!!f.marketValue.errors.required">Club is required</div>
          </div>
      </div>


<div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  </form>
</div>
</div>
<div [hidden]="!submitted2">
        <h4>You submitted successfully!</h4>
        <span></span>
        <button class="btn-lg btn-success" (click)="newPlayer()">Add Again</button>
      </div>
</div>

      </div>
