
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
      <h3>Transfer Market</h3>

    <div class="alert alert-warning" *ngIf='invalidTransfer'>{{errorMessage}}</div>
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label>Present Club</label>
          <select (change)="clubSelected($event)" formControlName="presentClub" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.presentClub.errors }" >
              <option value="" disabled>Choose a club</option>
              <option  *ngFor="let club of clubs" [ngValue]="club.id">
                {{club.name}}
              </option>
            </select>
          <div *ngIf="submitted && !!f.presentClub.errors" class="invalid-feedback">
              <div *ngIf="!!f.presentClub.errors.required">Club is required</div>
          </div>
      </div>


      <div class="form-group">
          <label>Player</label>
          <select formControlName="playerId" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.playerId.errors }" >
              <option value="" disabled>Choose a player</option>
              <option  *ngFor="let player of players" [ngValue]="player.id">
                {{ player.name +" "+ player.surname + " :"+player.marketValue+ " mln $"}}
              </option>
            </select>
          <div *ngIf="submitted && !!f.playerId.errors" class="invalid-feedback">
              <div *ngIf="!!f.playerId.errors.required">Player is required</div>
          </div>
      </div>

      <div class="form-group">
          <label>Future Club</label>
          <select formControlName="futureClub" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.futureClub.errors }" >
              <option value="" disabled>Choose a club</option>
              <option  *ngFor="let club of clubs" [ngValue]="club.id">
                {{club.name + " "+ club.budget+" mln $"}}
              </option>
            </select>
          <div *ngIf="submitted && !!f.futureClub.errors" class="invalid-feedback">
              <div *ngIf="!!f.futureClub.errors.required">Club is required</div>
          </div>
      </div>


<div class="form-group">
    <button type="submit" class="btn btn-success">Deal</button>
  </div>
  </form>
</div>
</div>
<div [hidden]="!submitted2">
        <h4>You submitted successfully!</h4>
        <span></span>
        <button class="btn-lg btn-success" (click)="backToClub()">See new Team</button>
      </div>
</div>

      </div>
