.container{
  padding-top: 5%;
  padding-left: 25%;
}


.grad{

  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn-images-1.medium.com/max/1600/1*etRVT9iag6y-xriUJpfAQQ.jpeg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);
}

h1,h3,h4,label{
  color:white;
}

.buttonik{
  float: left;
margin-top: 30px;
}
