
<div class="grad">
<h1>Players</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Birth Date</th>
        <th>matketValue</th>
        <th>Active</th>
        <th>Stats</th>
        <th>Cars</th>
        <th>Update</th>
        <th>Delete</th>
        <!-- <th>Example</th> -->
      </tr>
    </thead>
    <tbody>
      <!--   for (Todo todo: todos) {  -->
              <tr *ngFor="let player of players">
                <td>{{player.name}}</td>
                <td>{{player.surname }}</td>
                <td>{{player.dateBirth | date | uppercase}}</td>
                <td>{{player.marketValue}}</td>
                <td>{{player.active}}</td>
                <!-- <td><button pButton type="button" (click)="showCars(player.id)" label="Click"  class="ui-button-info"></button></td> -->
                <td><button (click)="showStats(player.id)" class="btn btn-primary">Show</button></td>
                <td><button (click)="showCars(player.id)"  class="btn btn-danger">Show</button></td>
                <td><button (click)="updatePlayer(player.id)" class="btn btn-success">Update</button></td>
                <td><button (click) = "deletePlayer(player.id)" class="btn btn-warning">Delete</button></td>
                <!-- <td><button pButton type="button" class="ui-button-rounded">Button</button></td> -->
                <!-- <td><button (click)="updatePlayer(player.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deletePlayer(player.id)" class="btn btn-warning">Delete</button></td> -->
              </tr>
      <!-- } -->
    </tbody>

  </table>

  <!-- <div class="row">
      <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div> -->


</div>
</div>
