h1{
  text-align: center;
}

tr:hover{
  color:rgb(9, 99, 57);
}
.grad{
  background-image: linear-gradient(to right, rgb(223, 98, 98) , rgb(145,145,145));
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);

}
