
<div class="grad">
  <!-- <div class="buttonik">
      <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
      </div> -->
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
    <h3>Sign Up for free to Football Website</h3>


    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<form [formGroup] = "form" (ngSubmit)="signUp()">

    <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
            <div *ngIf="!!f.username.errors.required">Username is required</div>
            <div *ngIf="!!f.username.errors.minlength">Mimimum length 3</div>
            <div *ngIf="!!f.username.errors.maxlength">Max length 12</div>

        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
            <div *ngIf="!!f.password.errors.required">Password is required</div>
            <div *ngIf="!!f.password.errors.minlength">Mimimum length 3</div>
            <div *ngIf="!!f.password.errors.maxlength">Max length 12</div>

        </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
          <div *ngIf="!!f.email.errors.required">Username is required</div>
          <div *ngIf="!!f.email.errors.email">Get correct email!</div>
          <div *ngIf="!!f.email.errors.minlength">Mimimum length 5</div>
          <div *ngIf="!!f.email.errors.maxlength">Max length 30</div>

      </div>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="number" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }"/>
    <div *ngIf="submitted && !!f.age.errors" class="invalid-feedback">
        <div *ngIf="!!f.age.errors.required">Age is required</div>
        <div *ngIf="!!f.age.errors.min">Mimimum age 18</div>
        <div *ngIf="!!f.age.errors.max">Max age 100</div>

    </div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-warning">Sign Up</button>
  <p></p>

</div>
</form>
</div>
<div [hidden]="!submitted2">
  <h4>You registered successfully!</h4>
  <span></span>
  <button class="btn-lg btn-success" (click)="backToLogin()">Login!</button>
</div>
    </div>
