
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
      <h3>Create or Update Club</h3>
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">


      <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
              <div *ngIf="!!f.name.errors.required">Club name is required</div>
              <div *ngIf="!!f.name.errors.minlength">Club must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Stadium</label>
          <input type="text" formControlName="stadium" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stadium.errors }" />
          <div *ngIf="submitted && !!f.stadium.errors" class="invalid-feedback">
              <div *ngIf="!!f.stadium.errors.required">Stadium name is required</div>
              <div *ngIf="!!f.stadium.errors.minlength">Stadium must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Coach</label>
          <input type="text" formControlName="coach" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.coach.errors }"/>
          <div *ngIf="submitted && !!f.coach.errors" class="invalid-feedback">
              <div *ngIf="!!f.coach.errors.required">Coach name is required</div>
              <div *ngIf="!!f.coach.errors.minlength">Coach must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Budget</label>
          <input type="number" formControlName="budget" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.budget.errors }"/>
          <div *ngIf="submitted && !!f.budget.errors" class="invalid-feedback">
              <div *ngIf="!!f.budget.errors.required">Budget name is required</div>
              <div *ngIf="!!f.budget.errors.min">Budget must be higher than 0</div>
              <div *ngIf="!!f.budget.errors.max">Budget must be lower</div>
          </div>
      </div>
     

<div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  </form>
</div>
</div>
<div [hidden]="!submitted2">
        <h4>You submitted successfully!</h4>
        <span></span>
        <button class="btn-lg btn-success" (click)="newClub()">Add Again</button>
      </div>
</div>
    
      </div>
