
<div class="grad">
  <!-- <div class="buttonik">
      <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
      </div> -->
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
    <h3>Successfully Logout!</h3>
    <button (click)="goToLogin()" class="btn-lg btn-warning">Login Again</button>

</div>
</div>

    </div>
