
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
      <h3>Create or Update Car</h3>
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">


      <div class="form-group">
          <label>Brand</label>
          <input type="text" formControlName="brand" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.brand.errors }"/>
          <div *ngIf="submitted && !!f.brand.errors" class="invalid-feedback">
              <div *ngIf="!!f.brand.errors.required">Brand name is required</div>
              <div *ngIf="!!f.brand.errors.minlength">Brand must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Model</label>
          <input type="text" formControlName="model" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
          <div *ngIf="submitted && !!f.model.errors" class="invalid-feedback">
              <div *ngIf="!!f.model.errors.required">Model name is required</div>
              <div *ngIf="!!f.model.errors.minvalue">Model must be at least 6 characters</div>
          </div>
      </div>

<div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  </form>
</div>
</div>
<div [hidden]="!submitted2">
        <h4>You submitted successfully!</h4>
        <span></span>
        <button class="btn-lg btn-success" (click)="newCar()">Add Again</button>
      </div>
</div>

      </div>
