.grad{
  background-image: linear-gradient(to right, rgb(29, 235, 115) , black);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);

}


tr,th {
  color:white;
}

h1{
  text-align: center;
  color:white;
}
a{
  margin-top: 30px;
}

.back-button{
  margin-top: 20px;
  margin-left: 20px;
}
