<div class="grad">
<!-- <h1>Cars</h1> -->
<button (click)="backClicked()" class=" back-button btn-lg btn-warning">Back</button>
<button (click)="goToCreateCar()" class="back-button btn-lg btn-success">Add Car</button>
<h1>{{nameSurname}}</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>

        <th>Brand</th>
        <th>Model</th>

      </tr>
    </thead>
    <tbody>
      <!--   for (Todo todo: todos) {  -->
              <tr *ngFor="let car of cars">

                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>

               <td> <button (click) ="removeCarFromList(car.id)" class="btn btn-warning">Usun model</button></td>

    </tbody>

  </table>


</div>
</div>
