<!-- <div class="grad">
<h1>Cars</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

              <tr *ngFor="let car of cars">
                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>
                <td><button (click)="updateCar(car.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteCar(car.id)" class="btn btn-warning">Delete</button></td>

    </tbody>

  </table>


</div>
</div> -->
<div class="grad">
    <h1>Cars</h1>
    <div class="container">
        <!-- <p-dataTable [value]="cars"  [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
            [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)"> -->
<p-table [columns]="cols" [value]="cars" [rowsPerPageOptions]="[5,10,20]" [paginator]="true" [lazy]="true" [totalRecords]="totalRecords"
 (onLazyLoad)="loadCarsLazy($event)">
 <!-- (sortFunction)="customSort($event)" [customSort]="true"> -->
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
</div>
