
<div class="grad">
  <!-- <div class="buttonik">
      <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
      </div> -->
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
    <h3>Welcome to Football Website</h3>


    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<form [formGroup] = "form" (ngSubmit)="login()">

    <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
            <div *ngIf="!!f.username.errors.required">Username is required</div>
            <div *ngIf="!!f.username.errors.minlength">Mimimum length 3</div>
            <div *ngIf="!!f.username.errors.maxlength">Max length 12</div>

        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
            <div *ngIf="!!f.password.errors.required">Password is required</div>
            <div *ngIf="!!f.password.errors.minlength">Mimimum length 3</div>
            <div *ngIf="!!f.password.errors.maxlength">Max length 12</div>

        </div>
    </div>

<div class="form-group">
  <button type="submit" class="btn btn-warning">Sign In</button>
  <p></p>

</div>
</form>
</div>
<button (click)="signUp()" class="btn btn-warning">Sign Up</button>
</div>

    </div>
