.container{
  padding-top: 5%;
  padding-left: 25%;
}


.grad , .jumbotron{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://wallpapertag.com/wallpaper/full/3/b/c/347799-amazing-football-wallpaper-1920x1200-ipad-pro.jpg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);
}

h3,h4,label{
  color:white;
}

.buttonik{
  float: left;
margin-top: 30px;
}

.notification {
  color: red;
}
