.grad{
  background-image: url("https://gol.pl/wp-content/uploads/2018/08/zlatan-ibrahimovic--.jpg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);
}


.buttonik{
padding-top: 25%;
text-align: center;
}
