
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a href="https://www.livescore.com" class="navbar-brand">
        LiveScore</a></div>
        <ul class="navbar-nav">
            <!-- <li><a  routerLink="/menu" class="nav-link">Menu</a></li> -->
            <li><a *ngIf="authorizeService.isUserLoggedIn()" routerLink="/welcome" class="nav-link">Creator</a></li>
            <li><a *ngIf="authorizeService.isUserLoggedIn()" routerLink="/players" class="nav-link">Players</a></li>
            <li><a *ngIf="authorizeService.isUserLoggedIn()" routerLink="/clubs" class="nav-link">Clubs</a></li>
            <li><a *ngIf="authorizeService.isUserLoggedIn()" routerLink="/cars" class="nav-link">Cars</a></li>
            <li><a *ngIf="authorizeService.isUserLoggedIn()" routerLink="/transfer" class="nav-link">Make Transfer</a></li>
          </ul>


            <ul class="navbar-nav navbar-collapse justify-content-end">
              <!-- <span>{{getName()}}</span> -->
              <li><a *ngIf="!authorizeService.isUserLoggedIn()"  routerLink="/login" class="nav-link">{{getName()}} Login</a></li>
              <li><a *ngIf="authorizeService.isUserLoggedIn()"  routerLink="/logout" class="nav-link">{{getName()}} Logout</a></li>
      </ul>

  </nav>
</header>
