.grad{
    /* background-image: linear-gradient(to right, rgb(255, 0, 157) , black);
width: 200vh;
height: 100vh; */




background:linear-gradient(rgba(165, 0, 138, 1),rgba(0, 0, 12, 1));
background-position: center;
background-size:cover;
background-attachment: fixed;
background-repeat:no-repeat;
position: relative;
min-height: calc(100vh - 55px);
  }


  .box {

    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10em;
  }

  img {
    width: 398px;
    height: 250px;
}

.card{
opacity:0.7;
}

.card:hover{
  transform: scale(1.1) rotate(10deg);
  z-index: 30;
  opacity: 1;
}

span{
  color:white;
}

/* .card:hover{
  outline: 10px solid #d32000c7;
  outline-offset: 0.8rem;
} */
