<div class="grad">

  <div class="box">
    <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="https://bigeye.ug/wp-content/uploads/2015/01/richest-clubs.png" alt="Card image cap">

        <button (click)="goToCreateClub()" class="btn btn-dark">Create new Club</button>

      </div>
    </div>
    <div class="box">
      <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="https://v.wpimg.pl/Nzc4Ny5qJxNMAndPTUV-SkxHKA5FXzkKAFAgV0UdYQkEaz0JUBInGw9AKxhGFDwlCxt7QAVFfBwAUnwcABV2QjwAf0ADRnlCVBokCVI=" alt="Card image cap">

            <button (click) ="goToCreatePlayer()" class="btn btn-dark">Create new Player</button>


        </div>
      </div>
      <div class="box">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP5gxmu09JmS4iGvA04YZL5lN6rL4mVHBHthQp19WwC9pTV9ZL" alt="Card image cap">
              <button (click)="goToCreateCar()" class="btn btn-dark">Create new Car</button>
          </div>
        </div>
</div>
