<div class="grad">


<button (click)="backClicked()" class="back-button btn-lg btn-warning">Back</button>
<button (click)="modifyStats()" class="back-button btn-lg btn-warning">Modify</button>
<div class="container">
    <h1 class="2x">Statistics </h1>
  <table class="table">
      <thead>

          <th>
            <tr>Name</tr>
      </th>
          <th>
            <tr>{{player.name}}</tr>
          </th>
    </thead>
    <thead>

        <th>
          <tr>Surname</tr>
    </th>
        <th>
          <tr>{{player.surname}}</tr>
        </th>
  </thead>
  <thead>

      <th>
        <tr>DateBirth </tr>
  </th>
      <th>
        <tr>{{player.dateBirth | date}}</tr>
      </th>
</thead>

    <thead>

      <th>
        <tr>Matches</tr>
  </th>
      <th>
        <tr>{{playerStatistics.matches}}</tr>
      </th>
</thead>

<thead>
    <th>
      <tr>Goals</tr>
</th>
    <th>
      <tr>{{playerStatistics.goals}}</tr>
    </th>
</thead>
<thead>
    <th>
      <tr>Height</tr>
</th>
    <th>
      <tr>{{playerStatistics.height}}</tr>
    </th>
</thead>

<thead>
    <th>
      <tr>Weight</tr>
</th>
    <th>
      <tr>{{playerStatistics.weight}}</tr>
    </th>
</thead>

<thead>
    <th>
      <tr>Yellow cards</tr>
</th>
    <th>
      <tr>{{playerStatistics.yellow_cards}}</tr>
    </th>
</thead>

<thead>
    <th>
      <tr>Red cards</tr>
</th>
    <th>
      <tr>{{playerStatistics.red_cards}}</tr>
    </th>
</thead>
    <tbody>

    </tbody>
  </table>

</div>
</div>
