.grad{
  background-image: linear-gradient(to right, rgb(19, 95, 109) , black);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);

}
.container{
  padding-left:5px;
}

tr,th {
  color:white;
}

h1{
  padding-left: 10px;
  text-align: center;
  color:white;
}
a{
  margin-top: 30px;
}

.back-button{
  margin-top: 20px;
  margin-left: 20px;
}
