.container{
  padding-top: 5%;
  padding-left: 25%;
}


.grad{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://car-images.bauersecure.com/pagefiles/24007/1752x1168/bmw-9-front-pic2.jpg?mode=max&quality=90&scale=down");
background-position: center;
background-size:cover;
background-attachment: fixed;
background-repeat:no-repeat;
position: relative;
min-height: calc(100vh - 55px);

}

h3,h4,label{
  color:white;
}

.buttonik{
  float: left;
margin-top: 30px;
}
