
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted">
      <h3>Attribute Car to Person</h3>
      <form [formGroup] = "form" (ngSubmit)="onSubmit()">


          <div class="form-group">
              <label></label>
              <select formControlName="fullCar" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.fullCar.errors }" >
                  <option value="" disabled>Choose a car</option>
                  <option  *ngFor="let car of cars" [ngValue]="car.id">
                    {{car.brand +" "+ car.model}}
                  </option>
                </select>
              <div *ngIf="submitted && !!f.fullCar.errors" class="invalid-feedback">
                  <div *ngIf="!!f.fullCar.errors.required">Car name is required</div>
                  <div *ngIf="!!f.fullCar.errors.minvalue">Car name is required</div>
              </div>
          </div>


    <div class="form-group">
        <button  type="submit" class="btn btn-warning">Save</button>
      </div>
      </form>
</div>
<div [hidden]="submitted2">
    <h4>You submitted successfully!</h4>
    <span></span>
    <button class="btn-lg btn-warning" (click)="addNext()">Add Again</button>
  </div>
</div>

</div>

</div>

