<div class="grad">
<h1>Clubs</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stadium</th>
        <th>Coach</th>
        <th>Budget</th>
        <th>Players</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!--   for (Todo todo: todos) {  -->
              <tr *ngFor="let club of clubs">
                <td>{{club.name}}</td>
                <td>{{club.stadium}}</td>
                <td>{{club.coach}}</td>
                <td>{{club.budget}}</td>
                <td><button  (click)="showPlayers(club.id)" class="btn btn-primary">Show</button></td>
                <td><button (click) = "updateClub(club.id)" class="btn btn-success">Update</button></td>
                <td><button (click) = "deleteClub(club.id)" class="btn btn-warning">Delete</button></td>
                <!-- <td><button (click)="updatePlayer(player.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deletePlayer(player.id)" class="btn btn-warning">Delete</button></td> -->
              </tr>
      <!-- } -->
    </tbody>

  </table>

  <!-- <div class="row">
      <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div> -->


</div>
</div>
