<div class="grad">
    <!-- <h1>Cars</h1> -->
    <button (click)="backClicked()" class=" back-button btn-lg btn-warning">Back</button>
    <button (click) ="goToCreatePlayer()" class="btn-lg btn-dark">Create new Player</button>
    <h1>{{club.name}}</h1>

    <div class="container">
      <table class="table">
        <thead>
          <tr>

            <th>Name</th>
            <th>Surname</th>
            <th>Market Value</th>

          </tr>
        </thead>
        <tbody>
          <!--   for (Todo todo: todos) {  -->
                  <tr *ngFor="let player of players">

                    <td>{{player.name}}</td>
                    <td>{{player.surname}}</td>
                    <td>{{player.marketValue}}</td>

        </tbody>

      </table>


    </div>
    </div>
