
<div class="grad">
    <div class="buttonik">
        <button (click)="goToPreviousPage()" class="btn btn-warning">Back</button>
        </div>
<div class="container">


<div style="width: 300px;">
<div class="hiddenLayer" [hidden] = "submitted2">
      <h3>Create or Update Stats</h3>
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label>Matches</label>
          <input type="number" formControlName="matches" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matches.errors }"/>
          <div *ngIf="submitted && !!f.matches.errors" class="invalid-feedback">
              <div *ngIf="!!f.matches.errors.required">Matches amount is required</div>
              <div *ngIf="!!f.matches.errors.min">Matches must be higher than 0</div>
              <div *ngIf="!!f.matches.errors.max">Matches must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Goals</label>
          <input type="number" formControlName="goals" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.goals.errors }"/>
          <div *ngIf="submitted && !!f.goals.errors" class="invalid-feedback">
              <div *ngIf="!!f.goals.errors.required">Goals amouont is required</div>
              <div *ngIf="!!f.goals.errors.min">Goals must be higher than 0</div>
              <div *ngIf="!!f.goals.errors.max">Goals must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Height</label>
          <input type="number" formControlName="height" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.height.errors }"/>
          <div *ngIf="submitted && !!f.height.errors" class="invalid-feedback">
              <div *ngIf="!!f.height.errors.required">Height is required</div>
              <div *ngIf="!!f.height.errors.min">Height must be higher than 140</div>
              <div *ngIf="!!f.height.errors.max">Height must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Weight</label>
          <input type="number" formControlName="weight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }"/>
          <div *ngIf="submitted && !!f.weight.errors" class="invalid-feedback">
              <div *ngIf="!!f.weight.errors.required">Weight is required</div>
              <div *ngIf="!!f.weight.errors.min">Weight must be higher than 50</div>
              <div *ngIf="!!f.weight.errors.max">Weight must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Yellow cards</label>
          <input type="number" formControlName="yellow_cards" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.yellow_cards.errors }"/>
          <div *ngIf="submitted && !!f.yellow_cards.errors" class="invalid-feedback">
              <div *ngIf="!!f.yellow_cards.errors.required">Yellow cards are required</div>
              <div *ngIf="!!f.yellow_cards.errors.min">Yellow cards must be higher than 0</div>
              <div *ngIf="!!f.yellow_cards.errors.max">Yellow cards must be lower</div>
          </div>
      </div>
      <div class="form-group">
          <label>Red cards</label>
          <input type="number" formControlName="red_cards" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.red_cards.errors }"/>
          <div *ngIf="submitted && !!f.red_cards.errors" class="invalid-feedback">
              <div *ngIf="!!f.red_cards.errors.required">Red cards are required</div>
              <div *ngIf="!!f.red_cards.errors.min">Red cards must be higher than 0</div>
              <div *ngIf="!!f.red_cards.errors.max">Red cards must be lower</div>
          </div>
      </div>


<div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  </form>
</div>
</div>
<div [hidden]="!submitted2">
        <h4>You submitted successfully!</h4>
        <span></span>
        <button class="btn-lg btn-success" (click)="navigateToPlayer()">Show stats</button>
      </div>
</div>

      </div>
