.container{
  padding-top: 5%;
  padding-left: 25%;
}


.grad , .jumbotron{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: relative;
  min-height: calc(100vh - 55px);
}

h3,h4,label{
  color:white;
}

.buttonik{
  float: left;
margin-top: 30px;
}
